#child1 {
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #e3e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#child2 {
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #e57);
    -webkit-background-clip: text;
    -webkit-text-fill-color: turquoise
}